@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Style+Script&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color directory */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: "Roboto", serif;
  overflow-x: hidden;
}
:root {
  --primary-color: #3e43ff;
  --primary-color-light: #dbdbfc;
  --secondary-color: white;
  --greys: #eeeff0;
}

@font-face {
  font-family: "CustomFont"; /* Name for the font */
  src: url("../src/assets/segoescript.ttf") format("truetype"); /* Path to your font */
}
.fon {
  font-family: "CustomFont", sans-serif;
}

/* Font Sizes */
.text-s {
  font-size: 18px;
}
.text-sl {
  font-size: 19px;
}
.text-x {
  font-size: 20px;
}
.text-xl {
  font-size: 25px;
}
.text-2xl {
  font-size: 30px;
}

/* Buttons bg */
.grays {
  background-color: var(--greys);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  background: #f3f3f3;
}
.menu-hover:hover {
  color: #3e43ff;
  transition: 0.1s;
  cursor: pointer;
}
.transition {
  transition: 0.2s;
}
.nav-button-hover-bg1:hover {
  background-color: var(--primary-color-light);
}
.nav-button-hover-bg2:hover {
  background-color: #3e44ffd5;
}
.bgs-wave {
  background-image: url("./assets/headerwave.svg");
}
.heading-line-height {
  line-height: 35px;
}
.sub-heading-line-height {
  line-height: 26px;
}
.review-heading-line-height {
  line-height: 10px;
}
.testimonial-shadow {
  box-shadow: 4px 7px 10px 1px rgb(156, 155, 155);
  border-radius: 10px;
}
.icon-fade:hover {
  transform: scale(1.2, 1.2);
  transition: 0.3s;
  cursor: pointer;
}
.tamplateview-hover:hover {
  transform: scale(1.1, 1.1);
  background: #c7c7ecab;
  transition: 0.3s;
}
.tamplateview-hover:hover button {
  visibility: visible;
  transition: 0.3s;
}
.tamplateview-hover {
  transition: 0.3s;
}
.load-more-scale{
  transition: 0.3s;
}
.load-more-scale:hover{
  transform: scale(1.1,1.1);
  transition: 0.3s;
}
.login-box{
  border-radius: 15px;
  box-shadow: 0 0 10px 1px  gray;
}

.login-line-heigth{
  line-height: 60px;
  font-weight: 400;
}
.transition{
  transition: 0.3s;
}
.disable-resize{
  resize: none;
}
.AI-button{
  background: linear-gradient(to right, #9B3EFF, #252899);
  border-radius: 100px;
  padding: 10px;
  width: fit-content;
   padding-left: 20px;
   padding-right: 20px;
  color: white;
  transition: 0.2s;
}
.AI-button:hover{
  background: linear-gradient(to right,#252899, #9B3EFF );
  transition: 0.3s;
}
.skill-button{
  background-color:var(--primary-color);
  width: fit-content;
  color: white;
  padding: 10px;
  border-radius: 100px;
  padding-right: 25px;
  padding-left: 25px;
  
}

.hidden-scrollbar {
  overflow-y: scroll; /* Enable scrolling but hide the scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Webkit-based browsers */
}
.width-fit{
  width: fit-content;
}
/* Hide increment/decrement buttons for Chrome, Safari, Edge, and Opera */
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.no-spin {
  -moz-appearance: textfield;
}
/* Keyframes for spinning effect */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the spin animation to the image */
.spinning-image {
  animation: spin 2s linear infinite; /* 4 seconds for one spin, linear motion, infinitely repeat */
  
  transition: 0.2s;
}
textarea {
  /* Hide scroll bar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

textarea::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
